// Fonts
$fontFamily:"Bellefair";
$SecondFontFamily: "Barlow Condensed";

// Container
$minWidth: 375;
$maxWidth: 1920;
$maxWidthContainer: 1110;
$md1: $maxWidthContainer + 12;
$md2: 992;
$md3: 768;
$md4: 420;

//Colors
$primary: #fff;
$secondary: #fff;
$accent: #fff;
$black: #000;
$white: #fff;