.main-heading {
            width: 100%;
            height: 100vh;
            top:0;
            background: url("../assets/home/background-home-desktop.jpg");
            background-size: cover;
        @media (max-width:$md3+px) {
            background-clip: content-box;
            background-repeat: no-repeat;
            background-position: center;

        }
    &__btn {
        background-color: #fff;
        color: #000;
        font-family: $fontFamily;
        border-radius: 50%;
        letter-spacing: 4.75;
        height: 274px;
        width: 274px;
        @include adaptive-value('font-size', 28, 14, 0);
        @media (max-width:$md3+px) {
        }
        @media (max-width: $md4+px) {
            right: 50%;
        }
    }

    &__container {
        height: calc(100% - 165px);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 165px 130px 165px;
    }
    &__container .main-heading__row:first-child{
        max-width: 450px;
    }
    &__container .main-heading__row:last-child{
    }

    &__content {
        background: linear-gradient(90deg, rgba(0, 91, 193, 0.6), rgba(0, 91, 193, 0.6) 40%,  rgba(0, 0, 0, 0) 40%);
        color: #fff;
        height: 100%;
        display:flex;
        align-items: stretch;
        @media (max-width: $md3+px) {
            background: linear-gradient(90deg, rgba(0, 91, 193, 0.6), rgba(0, 91, 193, 0.6) 30%,  rgba(0, 0, 0, 0) 30%);
        }
        @media (max-width: $md4+px) {
            background: linear-gradient(90deg, rgba(0, 91, 193, 0.6), rgba(0, 91, 193, 0.6) 60%,  rgba(0, 0, 0, 0) 60%);
        }
    }

    &__block {
        color: #fff;
        font-family: $SecondFontFamily;
        font-weight: 400;
        width: 100%;
        @media (max-width: $md4+px) {
            width: 100%;
        }
    }

    &__title {
        line-height: 1.5;
        color:#fff;
        font-weight: 400;
        font-size: 150px;
        margin:0;
        @media (max-width: $md4+px) {
            font-size: 30px;
        }
    }
    &__intro-title{
        font-family: $SecondFontFamily;
        text-transform: uppercase;
        color:#fff;
        font-weight: 400;
        font-size: 28px;
        letter-spacing: 4.725px;
        font-style: normal;
    }

    &__text {
        font-size: 18px;
        letter-spacing: 2.7px;
        line-height: 1.8;
        font-family: $SecondFontFamily;
        font-weight: 400;
        font-style: normal;
        // @media (max-width: $md4+px) {
        // }
    }
}