body.inner-page-body{
  height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  .wrapper {
    width: 100%;
    margin: 0 auto;
    font-family: $SecondFontFamily;
    &.dest-wrapper{
      hr.line{
        border-color: #979797;
      }
      .features{
        display: flex;
        justify-content: space-between;
        .feature-name{
          font-family: 'Barlow Condensed';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 2.3625px;
          text-transform: uppercase;
          color: #D0D6F9;
        }
        .feature-value{
          font-family: 'Bellefair';
          font-style: normal;
          font-weight: 400;
          font-size: 28px;
          line-height: 32px;
          text-transform: uppercase;
          color: #FFFFFF;
        }
      }
    }
    &.tech-wrapper{
      
    }
    &.crew-wrapper{
      .crew-tabs .tab-content{
        flex-direction: row-reverse;
      }
      .tab-label:after{
          content:"\26AB";
          display: block;
          height: 2px;
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: #D0D6F9;
    }
  }
  }
  .tabs {
    position: relative;
    margin: 3rem 0;
    display: flex;
    justify-content: flex-end;
    &.crew-tabs{
      justify-content: flex-start;
    }
  }
  .tabs::before,
  .tabs::after {
    content: "";
    display: table;
  }
  .tabs::after {
    clear: both;
  }
  .tab {
    float: left;
  }
  .tab-switch {
    display: none;
  }
  .tab-label {
    font-family: $SecondFontFamily;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #D0D6F9;
    position: relative;
    display: block;
    line-height: 19.2px;
    margin: 0 0.8em;
    cursor: pointer;
    top: 0;
  }
  .tab-label:hover {

  }
  .tab-content {
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 1.618rem;
    opacity: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    &__title{
      font-family: 'Bellefair';
      font-style: normal;
      font-weight: 400;
      font-size: 100px;
      line-height: 115px;
      color: #FFFFFF;
    }
    .img-container{
      max-width: 50%;
    }
    .text-container{
      font-family: $SecondFontFamily;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      color: #D0D6F9;
      width: 400px;
      .text{
        font-size: inherit;
      }
    }
  }
  .tab-switch:checked + .tab-label {
    z-index: 1;
  }
  .tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
  }
    .inner-page-content{
      width: 100%;
      min-height: 100%;
      background-size: cover;
  @media (max-width:$md3+px) {
      background-clip: content-box;
      background-repeat: no-repeat;
      background-position: center;

  }
      &.dest{
        background-image: url("../assets/destination/background-destination-desktop.jpg");
        @media (max-width:$md3+px) {
          background-image: url("../assets/destination/background-destination-tablet.jpg");
      }
      @media (max-width:$md4+px) {
        background-image: url("../assets/destination/background-destination-mobile.jpg");
      }
    }
      
      &.crew{
        overflow-y: hidden;
        background-image: url("../assets/crew/background-crew-desktop.jpg");
        @media (max-width:$md3+px) {
          background-image: url("../assets/destination/background-crew-tablet.jpg");
      }
      @media (max-width:$md4+px) {
        background-image: url("../assets/destination/background-crew-mobile.jpg");
      }
    }
      
      &.tech{
        background-image: url("../assets/technology/background-technology-desktop.jpg");
        @media (max-width:$md3+px) {
          background-image: url("../assets/technology/background-technology-tablet.jpg");
      }
      @media (max-width:$md4+px) {
        background-image: url("../assets/technology/background-technology-tablet.jpg");
      } 
      }
      
      &__main-heading{
        padding-top: 210px;
        @media (max-height: 760px){
          padding-top: 80px;
        }
      }
      &__container{

      }
      &__info-container{

      }
      &__title{
        font-family: $SecondFontFamily;
        text-transform: uppercase;
        color:#fff;
        font-weight: 400;
        margin: 0;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 4.725px;
        & .number{
          color: #FFFFFF;
          mix-blend-mode: normal;
          opacity: 0.25;
        }
      }
    }
}