.menu {
    display: block;
    max-width: 830px;
    margin: 120px;
    @media (max-width: $md4+px){
        max-width: initial;
        margin:0;
        width: 100%;
        overflow: hidden;
    }
    &:after{
        position:absolute;
        content: '';
        width: 347px;
        height: 1px;
        background: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.25;
        left: -300px;
        top: 50%;
        @media (max-width: $md1+px) {
            display: none;
        }
    }
    &__list {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        margin: 0;
        @media (max-width: $md2+px){
            justify-content:flex-end;
        }
        @media (max-width: 550px) {
            flex-direction: row;
            align-content:center;
            justify-content:flex-end;
            flex-wrap:wrap;
            width: 60%;
            position:absolute;
            right:0;
            top:0;

        }
        @media (max-width: $md4+px){
            display:none;
            &.active{
            display:block;
            position:absolute;
            width:67%;
            max-width: 254px;
            overflow: hidden;
            right: 0;
            top:0;
            margin: 0;
            height: 100vh;
            background: rgba(255, 255, 255, 0.04);
            backdrop-filter: blur(40.7742px);
            }
        }


    }
    &__link {
        font-size: 16px;
        font-family: $SecondFontFamily;
        font-weight: 400;
        margin: 0;
        padding:20px;
        letter-spacing: 2.7px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 1);
        transition: all 0.3s ease-in;
        & .number{
            font-weight: 700;
        }
        @media (max-width: $md3+px) {
            padding: 5px 0 5px 0;
            margin: 0 48px 0 0;
        }
        @media (max-width: $md4+px) {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 2.7px;
            z-index: 2;
            padding: 16px;
            margin: 0;
        }
        &:hover{
            position: relative;
            &::after{
                content: "";
                display: block;
                height: 2px;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: -20px;
                background: rgba(255, 255, 255, 0.04);
                backdrop-filter: blur(40.7742px);
                @media (max-width: $md4+px){
                    display: none;
                }
            }
        }
    }
    &__link:first-child{
    @media (max-width: $md4+px){
        margin-top: 70px;}
    }
    &__link.active{
        position: relative;
        &::after{
            content: "";
            display: block;
            height: 2px;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -20px;
            background-color: #fff;
            @media (max-width: $md3+px) {
                bottom: 0;
            }
            @media (max-width: $md4+px) {
                    display: none;
                }
        }
    }
    &__burger-icon{
        display:none;
        @media (max-width: $md4+px){
        display: block;
        width:24px;
        height:21px;
        color:#fff;
        position:absolute;
        right: 24px;
        top: 30px;
        z-index: 4;
        span{
            display: block;
            width: 100%;
            height: 2px;
            background-color: #fff;
            position: absolute;
            top:40%;
            opacity:1;
            transition: opacity ease-in .1s;
        }
        &:before, &:after{
            position:absolute;
            content: '';
            width: 100%;
            height: 2px;
            background-color: #fff;
            left:0;
            transition: transform ease-in .3s;
        }
        &:before{
            top:0;

        }
        &:after{
            bottom:2px;
        }
    }}
    &__burger-icon.active{
        z-index: 2;
        span{
            opacity:0;
        }
        &:before{
            transform: rotateZ(45deg) translateY(12px);
        }
        &:after{
            transform: rotateZ(-45deg) translateY(-12px);
        }
    }
}

.footer__menu{
        .menu__list{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 35px 35px;
        }
        .menu__link{
            margin:0;
            @include adaptive-value('font-size', 14, 10, 0);
        }
@media (max-width: $md4+px){

        .menu__list{
            display: block;
            flex-direction: row;
            width:initial;
            flex-wrap:nowrap;
            align-items:center;
            height: initial;
            overflow: scroll;
            right: 0;
            top:0;
            margin: 20px;
            text-align: center;}
        .menu__link{
            font-size: 10px;
            width: 100%;
            margin: 10px 0;
            padding:0;
            
        }
        .menu__body{
            min-width: 0;
            margin: 0;
            width: 100%;

        }
}

@media (max-width: $md3+px) {
    .menu__list{
    position: relative;
    align-content:center;
    justify-content:flex-end;
    width: 60%;
    right:0;}

    .menu__body{
        min-width: 0;
        margin: 0;
        width: 100%;

    }
}

}